@using Kztek.Web.Core.Functions

@{
    ViewBag.Title = "Gia hạn thẻ";

    var Dictionary = FunctionHelper.GetLocalizeDictionary("ActiveCard", "Index");
    var DictionaryAction = FunctionHelper.GetLocalizeDictionary("Home", "Action");
    var DictionarySelectCusGrp = FunctionHelper.GetLocalizeDictionary("SelectList", "CustomerGroupID");
    var DictionarySelectCard = FunctionHelper.GetLocalizeDictionary("SelectList", "CardGroup");
    var DictionaryNoti = FunctionHelper.GetLocalizeDictionary("Home", "notification");
    bool isCOMA = Convert.ToBoolean(ViewBag.ISCOMA);
}

<div class="page-header">
    <h1>
        @Dictionary["Title"]
    </h1>
</div>

<div class="row">
    <div class="col-md-2 col-xs-12 divboxmd">
        @Dictionary["Keyword"]
        <input type="text" name="key" value="" placeholder="@Dictionary["SearchPlaceHolder"]" class="form-control" />
    </div>
    @*<div class="col-md-2 col-xs-12 divboxmd">
            Từ ngày:
            @Html.TextBox("fromdate", "", new { @class = "form-control daterangnoautopicker" })
        </div>
        <div class="col-md-2 col-xs-12 divboxmd">
            Đến ngày:
            @Html.TextBox("todate", "", new { @class = "form-control daterangnoautopicker" })
        </div>*@
    <div class="col-md-2 col-xs-12 divboxmd">
        @Dictionary["CardGroupFilter"]
        @Html.DropDownList("cardgroups", new SelectList(ViewBag.CardGroups, "CardGroupID", "CardGroupName"), DictionarySelectCard["SlectlistCardGrp"], new { @class = "form-control chosen-select" })
    </div>
    <div class="col-md-3 col-xs-12 divboxmd">
        @Dictionary["CustomerGroupFilter"]
        @Html.DropDownList("customergroup", new SelectList(ViewBag.CustomerGroups, "ItemValue", "ItemText"), DictionarySelectCusGrp["SlectlistCusGrp"], new { @class = "form-control chosen-select" })
    </div>

    <div class="col-md-3 col-xs-12 divboxmd line-height-450" style="margin-top:14px;">
        <button class="btn btn-sm btn-primary" type="button" onclick="SearchListCard()">
            <i class="fa fa-search" aria-hidden="true"></i> @DictionaryAction["Search"]
        </button>

        @Html.Action("Actions", "Home", new { ActionName = "Index", ControllerName = "ActiveCard" })
    </div>
</div>


<div class="row">
    <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12 divboxmd">
        @Dictionary["DateStart"]
        <div class="input-group">
            @Html.TextBox("datestart", "", new { @class = "form-control daterangpicker", @style = "border-left: 3px solid #337ab7;" })
            <span class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </span>
        </div>
    </div>
    <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12 divboxmd">
        @Dictionary["NewDateExtend"]
        <div class="input-group">
            @Html.TextBox("datenewextendfrompicker", "", new { @class = "form-control daterangpicker", @style = "border-left: 3px solid #337ab7;" })
            <span class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </span>
        </div>
    </div>

    @*<div class="col-md-3 col-lg-3 col-xs-12 col-sm-12 divboxmd">
            <label class="line-height-380">
                @Html.CheckBox("isAllowNegativeDays", false, new { @class = "ace" })
                <span class="lbl"> @Dictionary["AllowNegativeDay"] </span>
            </label>
        </div>*@

</div>

<div class="row" id="boxMonth">
  @*@Html.Action("Partial_Month", "ActiveCard",new { datenew  = DateTime.Now.ToString()})*@
</div>

<div class="hr hr-18 dotted hr-24"></div>

<div class="row">
    <div class="col-md-6 col-xs-12" id="boxCards">
        <div class="form-group">
            <input type="text" name="txtAnotherKey" id="txtAnotherKey" class="form-control" value="" placeholder="@Dictionary["SearchPlaceHolder"]" onkeyup="SearchInFromList()" />
        </div>
        <div class="divOver">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="center">
                            <label class="pos-rel">
                                <input type="checkbox" class="ace" id="chkCheckALL" />
                                <span class="lbl"></span>
                            </label>
                        </th>
                        <th class="text-left" idata="STT"> @Dictionary["Order"] <i class=""></i></th>
                        <th class="text-left" idata="Card"> @Dictionary["CardNo"] <i class=""></i></th>
                        <th class="text-left" idata="Card"> @Dictionary["CardNumber"] <i class=""></i></th>
                        <th class="text-left" idata="DateExpire"> @Dictionary["DateExpired"] <i class=""></i></th>
                        <th class="text-left" idata="Customer"> @Dictionary["CustomerName"] <i class=""></i></th>
                        <th class="text-left" idata="CustomerGroup"> @Dictionary["CustomerGroup"] <i class=""></i></th>
                        <th class="text-left"> @Dictionary["Vehicle"] </th>
                        <th class="text-left" idata="CardGroup"> @Dictionary["CardGroup"] <i class=""></i></th>

                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="col-xs-5">
            <span class="pull-left pagination">@Dictionary["Page"]: <span id="pageIndex">0</span> / <span id="pageCount">0</span> - @Dictionary["Record"]: <span class="numberCard">0</span></span>
        </div>
        <div class="col-xs-7">
            <div id="pagination" class="pull-right"></div>
        </div>
        <div style="clear:both"></div>
        <div class="clearfix form-actions" style="padding:0;">
            <button class="btn btn-lg btn-success" type="button" onclick="ExtendAllCardV2()">
                <strong>@Dictionary["ExtendAction"] <span class="numberCard">0</span> @Dictionary["ExtendCard"]</strong>
            </button>
          
            @if (isCOMA)
            {  <button class="btn btn-lg btn-purple" type="button" onclick="ExtendAllOneMonth()">
                <strong>Gia hạn 1 tháng</strong>
            </button>
            }
        </div>
    </div><!-- /.span -->
    <div class="col-md-6 col-xs-12" id="boxExtendCards">
        <div class="form-group line-height-250">
            @Dictionary["SelectedCard"]: <span class="numberExtendCard">0</span>
        </div>
        <div class="divOver">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="text-left" idata="STT"> @Dictionary["Order"] <i class=""></i></th>
                        <th class="text-left" idata="Card"> @Dictionary["CardNo"] <i class=""></i></th>
                        <th class="text-left" idata="Card"> @Dictionary["CardNumber"] <i class=""></i></th>
                        <th class="text-left" idata="DateExpire"> @Dictionary["DateExpired"] <i class=""></i></th>
                        <th class="text-left" idata="Customer"> @Dictionary["CustomerName"] <i class=""></i></th>
                        <th class="text-left" idata="CustomerGroup"> @Dictionary["CustomerGroup"] <i class=""></i></th>
                        <th class="text-left"> @Dictionary["Vehicle"] </th>
                        <th class="text-left" idata="CardGroup"> @Dictionary["CardGroup"] <i class=""></i></th>

                        <th class="center">
                            <button type="button" class="btn btn-sm btn-danger" onclick="RemoveAllExtendCard()">
                                <i class="fa fa-trash bigger-110" aria-hidden="true"></i>
                                @Dictionary["DeleteAll"]
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="col-xs-12">
            <strong class="error">@Dictionary["WarningSelected"]</strong>
        </div>
        <div style="clear:both"></div>
        <div class="clearfix form-actions" style="padding:0;margin-top: 9.3%">
            <button class="btn btn-lg btn-warning" type="button" onclick="ExtendCardsV2()">
                <strong>@Dictionary["ExtendAction"] <span class="numberExtendCard">0</span> @Dictionary["ExtendCard"]</strong>
            </button>
            @if (isCOMA)
            {<button class="btn btn-lg btn-purple" type="button" onclick="ExtendCardsOneMonth()">
                    <strong>Gia hạn 1 tháng</strong>
                </button>
            }
        </div>
    </div>
</div>
<input type="hidden" id="messErrExtendCard" value="@DictionaryNoti["messErrExtendCard"]"/>
<input type="hidden" id="confirmExtendCard" value="@DictionaryNoti["ConfirmExtendCard"]"/>
@section scripts{
    <script src="~/Scripts/jquery.twbsPagination.js"></script>
    <script src="~/Areas/Parking/Scripts/ActiveCardController.js"></script>
    <script>
        $(document).ready(function () {
           
            //
            $('#cardgroups').change(function () {
                var id = $(this).val();

                $.ajax({
                    url: _prefixParkingDomain + '/ActiveCard/FillFee',
                    data: { id: id },
                    type: 'json',
                    //async: true,
                    success: function (data) {
                        if (data != "") {
                            $('#newfeelevel').val(data);
                        }

                        //$("#newfeelevel").mask("000.000.000.000.000", { reverse: true });
                    }
                });
            });

            //
            $("#chkCheckALL").click(function () {
                var str = "";
                $("#boxCards table > tbody").find("tr").each(function () {
                    var cmd = $(this);
                    var chk = cmd.find(".chkCheck");
                    if (chk.is(":checked")) {
                        var id = chk.val();

                        str += id + ";";
                    }
                });

                ActiveCardController.addListExtendCard(str);
            });

            $("#newfeelevel").mask("000.000.000.000.000", { reverse: true });

            //
            $('input[name=datenewactivefrompicker]').on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('DD/MM/YYYY'));
            });

            $('input[name=fromdate],input[name=todate]').on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('DD/MM/YYYY'));
            });
        });
    </script>
}
