@model List<Kztek.Model.Models.MenuFunction>

@{
    var listSe = (List<Kztek.Model.Models.MenuFunctionConfig>)ViewBag.selectedValues;
}

<div class="row">
    <div class="col-xs-12">
        <ul class="treeCustom" style="list-style-type:none">
            @if (Model.Any())
            {
                var listParent = Model.Where(c => c.ParentId == "0").ToList();
                if (listParent.Any())
                {
                    foreach (var item0 in listParent)
                    {
                        var strActive = item0.Active ? "" : "text-decoration:line-through";
                        var child = Model.Where(c => c.ParentId == item0.Id).ToList();
                        <li>
                            <input type="checkbox" name="chkCheckBox" class="chkCheckBox ace" value="@item0.Id" @string.Format("{0}", (listSe != null && listSe.Any(n => n.MenuFunctionId == item0.Id)) ? "checked" : "") />
                            <span class="showButton lbl" style="@strActive">
                                @item0.MenuName
                            </span>
                            <span class="pull-right">
                                @Html.Action("ShowGroupName", new { groupList = item0.MenuGroupListId, issystem = item0.isSystem })
                            </span>
                            @if (child.Any())
                            {
                                @Html.Action("MenuFunctionChild", "Home", new { childList = child, AllList = Model, selected = listSe })
                            }
                        </li>
                    }
                }

            }
        </ul>
    </div><!-- /.span -->
</div><!-- /.row -->
