@model List<Kztek.Model.Models.tblCardActive>


@if (Model != null && Model.Any())
{
    var count = 0;
    foreach (var item in Model)
    {
        count++;
        <tr style="width:100%">
            <td>
                @count
            </td>

            <td style="width:15%" class="text-left">
                @item.CardNo
            </td>

            <td style="width:15%" class="text-left">
                @item.CardNumber
            </td>

            <td style="width:15%" class="text-left">
                <span>@item.CustomerName</span>
            </td>

            <td style="width:20%" class="text-left">
                <span>@item.Plate1</span>, <span>@item.Plate2</span>, <span>@item.Plate3</span>
            </td>

            <td style="width:15%" class="text-left">
                @item.CardGroupName
            </td>
           
            <td style="width:10%" class="text-left">
                @if (item.DateActive != null)
                {
                    var status = Kztek.Web.Core.Functions.FunctionHelper.GetStatusDateByDay(Convert.ToDateTime(item.DateActive.Value));
                    <span>@Html.Raw(status)</span>
                }
            </td>

            <td class="center" style="width:15%">
                <button type="button" class="btn btn-sm btn-danger" onclick="RemoveExtendCard('@item.CardID.ToString()')">
                    <i class="fa fa-trash bigger-110" aria-hidden="true"></i>
                    <span>Xóa</span>
                </button>
            </td>
        </tr>
    }
}

