@using Kztek.Model.CustomModel

@model PageModel<Kztek.Model.Models.tblCardActive>

@if (Model.Data.Any())
{
    @Html.Hidden("pageTotal", Model.TotalPage)
    @Html.Hidden("totalItem", Model.TotalItem)
    var count = (Model.PageIndex - 1) * Model.PageSize;
    foreach (var item in Model.Data)
    {
        count++;
        <tr>
            <td class="center">
                <label class="pos-rel">
                    <input type="checkbox" id="@item.CardID.ToString()" name="Id" value="@item.CardID.ToString()" class="ace chkCheck" onclick="addExtendCard('@string.Format("{0};",item.CardID.ToString())')" />
                    <span class="lbl"></span>
                </label>
            </td>
            <td>@count</td>

            <td class="text-left">
               @item.CardNo
            </td>

            <td class="text-left">
                @item.CardNumber
            </td>

            <td class="text-left">
                <span>@item.CustomerName</span>
            </td>

            <td class="text-left">
                <span>@item.Plate1</span>, <span>@item.Plate2</span>, <span>@item.Plate3</span>
            </td>

            <td class="text-left">
               @item.CardGroupName
            </td>

            <td class="text-left">
                @if (item.DateActive != null)
                {
                    var status = Kztek.Web.Core.Functions.FunctionHelper.GetStatusDateByDay(Convert.ToDateTime(item.DateActive.Value));
                    <span>@Html.Raw(status)</span>
                }
            </td>

        </tr>
    }
}
else
{
    @Html.Hidden("pageTotal", 0)
    @Html.Hidden("totalItem", 0)
}


