@using Kztek.Web.Core.Extensions

@model Kztek.Model.Models.BM_Floor

@{
    ViewBag.Title = "Update";

    int pn = (int)ViewBag.PN;
}

<div class="page-header">
    <h1>
        Cập nhật tòa nhà
    </h1>
</div>

<div class="row">
    @if (TempData["Success"] != null)
    {
        <strong style="color:green">@TempData["Success"]</strong>
    }
    <strong style="color:red">@ViewBag.Error</strong>
</div>

<div class="row">
    @using (Html.BeginForm("Update", "BM_Floor", FormMethod.Post, new { encType = "multipart/form-data", @class = "form-horizontal", @role = "form" }))
    {
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        @Html.HiddenFor(n => n.Id)
        @Html.Hidden("key", (string)ViewBag.keyValue)
        @Html.Hidden("buildingIdSerch", (string)ViewBag.buildingId)
        @Html.Hidden("page", pn)
        <div class="col-sm-2 col-xs-12"></div>
        <div class="col-sm-10 col-xs-12">
            <div class="form-group">
                <label class="col-sm-2 control-label-left no-padding-right"> Tên Tầng </label>
                <div class="col-sm-6 col-xs-12">
                    @Html.TextBoxFor(n => n.Name, new { @class = "form-control", @placeholder = "Tên tầng" })
                    @Html.ValidationMessageFor(n => n.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label-left no-padding-right"> Số tầng </label>
                <div class="col-sm-6 col-xs-12">
                    @Html.DropDownList("BuildingId", new SelectList(ViewBag.buildingLst, "Id", "Name", Model.BuildingId), new { @class = "form-control chosen-select" })
                    @Html.ValidationMessageFor(n => n.BuildingId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label-left no-padding-right"> Thứ tự</label>
                <div class="col-sm-2 col-xs-6">
                    @Html.TextBoxFor(n => n.Ordering, new { @class = "form-control number" })
                    @Html.ValidationMessageFor(n => n.Ordering, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="ace-settings-container" id="ace-settings-container" style="position: fixed; top: 155px;">
            <div class="btn btn-app btn-xs btn-warning ace-settings-btn open" id="ace-settings-btn">
                <i class="ace-icon fa fa-cog bigger-130"></i>
            </div>

            <div class="ace-settings-box clearfix open" id="ace-settings-box">
                <!-- /.pull-left -->
                <div class="bg-rightbox">
                    <div class="clearfix lineButton">
                        <div class="col-md-12 input-group">
                            <button class="btn btn-success" type="submit" id="Countinue">
                                <i class="ace-icon fa fa-refresh bigger-110"></i>
                                Lưu lại
                            </button>
                            <button class="btn" type="reset">
                                <i class="ace-icon fa fa-undo bigger-110"></i>
                                Nhập lại
                            </button>
                            <a href="@Url.Action("Index", new { key = ViewBag.keyValue, residentGroupIdSearch = ViewBag.buildingId, page = pn, selectedId = Model.Id })" class="btn btn-yellow">
                                <i class="ace-icon fa fa-chevron-circle-left bigger-110"></i>
                                Quay lại
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.pull-left -->
            </div><!-- /.ace-settings-box -->
        </div>
    }
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#Countinue").click(function () {
                $("#SaveAndCountinue").val('true');
            });
        });
    </script>
}