@using Kztek.Model.CustomModel
@using Kztek.Web.Core.Extensions
@using Kztek.Web.Attributes
@using Kztek.Web.Core.Functions

@model PageModel<Kztek.Model.Models.tblSubCard>

@{
    ViewBag.Title = "Danh sách nhóm thẻ";
    //Layout = Futech.Web.Core.Functions.FunctionHelper.GetLayoutByGroup(ViewBag.Group);
    string controller = this.ViewContext.RouteData.Values["controller"].ToString();
    string objId = (string)ViewBag.objId;
    var Dictionary = FunctionHelper.GetLocalizeDictionary("tblSubCard", "Index");
    var DictionaryAction = FunctionHelper.GetLocalizeDictionary("Home", "Action");
}

<div class="page-header">
    <h1>
        @Dictionary["Title"] (@Model.TotalItem)
    </h1>
</div>
<div id="boxModal">

</div>

@using (Html.BeginForm("Index", "tblSubCard", FormMethod.Get, new { id = "frmCardGroup" }))
{@Html.Hidden("chkExport", "0")
<div class="row">
    <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12 divboxmd">
        <input type="text" name="key" value="@ViewBag.KeyWord" placeholder="@Dictionary["KeywordPlaceholder"]" class="form-control" />
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 divboxmd">
        @Html.Action("Actions", "Home", new { ActionName = "Search", ControllerName = controller })

        @Html.Action("Actions", "Home", new { ActionName = "Index", ControllerName = controller })
        @Html.Action("Actions", "Home", new { ActionName = "Export", ControllerName = controller })
        @Html.Action("Actions", "Home", new { ActionName = "Import", ControllerName = controller })
    </div>
</div>
}

<div class="hr hr-18 dotted hr-24"></div>
<div class="row" style="padding-bottom:10px;">
    <div class="col-xs-12">
        @if (CheckAuthorizeAction.CheckActionPemission(controller, "Create"))
        {
            <a href="@Url.Action("Create", controller)" class="btn btn-sm btn-primary btn-white btn-bold">
                <i class=" fa fa-plus"></i> @DictionaryAction["Create"]
            </a>
        }
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <table class="table  table-bordered table-hover">
            <thead>
                <tr>
                    <th class="text-center">@Dictionary["MainCard"]</th>
                    <th class="text-center">@Dictionary["CardNumber"]</th>
                    <th class="text-center">@Dictionary["CardNo"]</th>
                    <th class="text-center" width="60">@Dictionary["Action"]</th>
                </tr>
            </thead>

            <tbody>
                @if (Model.Data.Any())
                {
                    foreach (var item in Model.Data)
                    {
                        <tr class="@string.Format("{0}", (!string.IsNullOrWhiteSpace(objId) && objId == item.ID.ToString() ) ? "info" : "")">
                            <td class="text-left">
                                @item.MainCard
                            </td>

                            <td class="text-left">
                                @item.CardNumber
                            </td>

                            <td class="text-left">
                                @item.CardNo
                            </td>
                            <td class="center">
                                <div class="btn-group">
                                    @if (CheckAuthorizeAction.CheckActionPemission(controller, "Update"))
                                    {
                                        <a href="@Url.Action("Update", controller, new { id = item.ID, key = ViewBag.keyValue, page = Model.PageIndex })" class="green" title="@DictionaryAction["Update"]">
                                            <i class="ace-icon fa fa-pencil bigger-120"></i>
                                        </a>
                                    }

                                    @Html.Action("Actions", "Home", new { ActionName = "Delete", ControllerName = controller, id = item.ID })
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div><!-- /.span -->
    @if (Model.Data.Any())
    {
        <div class="col-xs-12">
            <div class="pull-right">
                @Html.GeneratePagingFooter(Model.TotalPage, Model.PageIndex, Model.PageSize, "pagination", x => Url.Action("Index", "tblSubCard", new
           {
               page = x,
               key = ViewBag.keyValue,
           }))
            </div>
        </div>
    }
</div><!-- /.row -->
@section scripts{
    <script src="~/Areas/Parking/Scripts/tblSubCardController.js"></script>
    <script>
        $(document).ready(function () {
            $('button[name=btnExport]').click(function () {
                $('#chkExport').val('1');
                $('#frmCardGroup').submit();
            });

            $('button[name=btnFilter]').click(function () {
                $('#chkExport').val('0'); // ko xuat xxcel
                $('#frmCardGroup').submit();
            });


            DeleteSubmit(_prefixParkingDomain + '/tblSubCard/Delete');
        });
    </script>
}