@model Kztek.Model.Models.tblSubCard
@using Kztek.Web.Core.Functions

@{
    ViewBag.Title = "Update";
    //Layout = Kztek.Web.Core.Functions.FunctionHelper.GetLayoutByGroup(ViewBag.Group);


    int pn = Convert.ToInt32(ViewBag.PN);

    var Dictionary = FunctionHelper.GetLocalizeDictionary("tblSubCard", "Update");
    var DictionaryAction = FunctionHelper.GetLocalizeDictionary("Home", "Action");
}

<div class="page-header">
    <h1>
        @Dictionary["Title"]
    </h1>
</div>
<div class="row">
    @if (TempData["Success"] != null)
    {
        <strong style="color:green">@TempData["Success"]</strong>
    }
    <strong style="color:red">@ViewBag.Error</strong>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("Update", "tblSubCard", FormMethod.Post, new { encType = "multipart/form-data", @class = "form-horizontal", @role = "form", @id = "frmCardGroupUpdate" }))
        {
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })


            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right">@Dictionary["MainCard"] </label>
                <div class="col-sm-4 col-xs-12">
                    @Html.TextBoxFor(n => n.MainCard, new { @class = "form-control", @placeholder = Dictionary["Placeholder"] })
                    @Html.ValidationMessageFor(n => n.MainCard, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right">@Dictionary["CardNumber"] </label>
                <div class="col-sm-4 col-xs-12">
                    @Html.TextBoxFor(n => n.CardNumber, new { @class = "form-control" })
                    @Html.ValidationMessageFor(n => n.CardNumber, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right">@Dictionary["CardNo"] </label>
                <div class="col-sm-4 col-xs-12">
                    @Html.TextBoxFor(n => n.CardNo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(n => n.CardNo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="ace-settings-container" id="ace-settings-container" style="position: fixed; top: 155px;">
                <div class="btn btn-app btn-xs btn-grey ace-settings-btn open" id="ace-settings-btn">
                    <i class="ace-icon fa fa-cog bigger-130"></i>
                </div>

                <div class="ace-settings-box clearfix open" id="ace-settings-box">
                    <!-- /.pull-left -->
                    <div class="bg-rightbox">
                        <div class="clearfix lineButton">
                            <div class="col-md-12 input-group">
                                <button class="btn btn-info" type="submit">
                                    <i class="ace-icon fa fa-check bigger-110"></i>
                                    @DictionaryAction["Save"]
                                </button>
                                <button class="btn" type="reset">
                                    <i class="ace-icon fa fa-undo bigger-110"></i>
                                    @DictionaryAction["Refresh"]
                                </button>
                                <a href="@Url.Action("Index")" class="btn btn-yellow">
                                    <i class="ace-icon fa fa-chevron-circle-left bigger-110"></i>
                                    @DictionaryAction["BackToList"]
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- /.pull-left -->
                </div><!-- /.ace-settings-box -->
            </div>
        }
    </div>
</div>

@section scripts{
<script src="~/Areas/Parking/Scripts/tblSubCardController.js"></script>
    <script>
        $(document).ready(function () {

        });
    </script>
}