@using Kztek.Model.CustomModel
@using Kztek.Web.Core.Extensions
@using Kztek.Web.Attributes
@using Kztek.Web.Core.Functions

@model PageModel<Kztek.Model.Models.tblLog>

@{
    ViewBag.Title = "Hệ thống";
    string groupID = (string)ViewBag.GroupID;
    Layout = Kztek.Web.Core.Functions.FunctionHelper.GetLayoutByGroup(groupID);

    var Dictionary = FunctionHelper.GetLocalizeDictionary("tblLog", "Index");
    var DictionaryAction = FunctionHelper.GetLocalizeDictionary("Home", "Action");
}

<div class="page-header">
    <h1>
        @Dictionary["Title"]
    </h1>
</div>

@using (Html.BeginForm("Index", "tblLog", FormMethod.Get))
{
    @Html.Hidden("group", groupID)
    <div class="row">
        <div class="col-md-2 col-xs-12 divboxmd">
            @Dictionary["Keyword"]
            <input type="text" name="key" value="@ViewBag.KeyValue" placeholder="@Dictionary["KeywordPlaceholder"]" class="form-control" />
        </div>
        <div class="col-md-3 col-xs-12 divboxmd">
            @Dictionary["FromDate"]
            <div class="input-group">
                @Html.TextBox("fromdate", (string)ViewBag.fromdateValue, new { @class = "form-control daterangtimepicker" })
                <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </span>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 divboxmd">
            @Dictionary["ToDate"]
            <div class="input-group">
                @Html.TextBox("todate", (string)ViewBag.todateValue, new { @class = "form-control daterangtimepicker" })
                <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-xs-12 divboxmd">
            @Dictionary["ActionFilter"]
            @Html.Action("DroplistMultiSelectTemplate", "CommonUse", new { _dt = ViewBag.ActionValues, itemValue = "ItemValue", itemText = "ItemText", selectedValues = ViewBag.actionsValue, Modelname = "ddlactions", labelName = "-- Lựa chọn --" })
            @Html.Hidden("actions")
        </div>
        <div class="col-md-2 col-xs-12 divboxmd">
            @Dictionary["UserFilter"]
            @Html.Action("DroplistMultiSelectTemplate", "CommonUse", new { _dt = ViewBag.UserValues, itemValue = "Username", itemText = "Username", selectedValues = ViewBag.usersValue, Modelname = "ddlusers", labelName = "-- Lựa chọn --" })
            @Html.Hidden("users")
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12 divboxmd">
            <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-search" aria-hidden="true"></i> @DictionaryAction["Search"]</button>
            <a href="@Url.Action("Index", "tblLog", new { group = groupID })" class="btn btn-primary btn-white btn-bold" type="submit">
                <i class="fa fa-refresh green" aria-hidden="true"></i>
                @DictionaryAction["Reset"]
            </a>
        </div>
    </div>
}

<div class="hr hr-18 dotted hr-24"></div>

<div class="row">
    <div class="col-xs-12">
        <table id="simple-table" class="table  table-bordered table-hover">
            <thead>
                <tr>
                    <th class="center hidden-480">@Dictionary["Date"] </th>
                    <th class="center">@Dictionary["ComputerName"] </th>
                    <th class="center">@Dictionary["UserName"] </th>
                    <th class="center hidden-480">@Dictionary["SubSystemCode"] </th>
                    <th class="center hidden-480">@Dictionary["ObjectName"] </th>
                    <th class="center hidden-480">@Dictionary["Actions"] </th>
                    <th class="center">@Dictionary["Description"] </th>
                </tr>
            </thead>

            <tbody>
                @if (Model.Data.Any())
                {
                    foreach (var item in Model.Data)
                    {
                        <tr>
                            <td class="text-left hidden-480">
                                @Convert.ToDateTime(item.Date).ToString("dd/MM/yyyy HH:mm:ss")
                            </td>

                            <td class="text-left">
                                @item.ComputerName
                            </td>

                            <td class="text-left">
                                @item.UserName
                            </td>

                            <td class="text-left hidden-480">
                                @item.SubSystemCode
                            </td>

                            <td class="text-left hidden-480">
                                @item.ObjectName
                            </td>

                            <td class="text-left hidden-480">
                                @item.Actions
                            </td>
                            <td class="text-left">
                                @item.Description
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div><!-- /.span -->
    @if (Model.Data.Any())
    {
        <div class="col-xs-12">
            <div class="pull-right">
                @Html.GeneratePagingFooter(Model.TotalPage, Model.PageIndex, Model.PageSize, "pagination", x => Url.Action("Index", "tblLog", new
           {
               page = x,
               key = ViewBag.keyValue,
               users = ViewBag.usersValue,
               actions = ViewBag.actionsValue,
               fromdate = ViewBag.fromdateValue,
               todate = ViewBag.todateValue,
               group = ViewBag.GroupID
           }))
            </div>
        </div>
    }
</div><!-- /.row -->
<input type="hidden" name="_nonSelectedText" value="@DictionaryAction["nonSelect"]" />
<input type="hidden" name="_allSelectedText" value="@DictionaryAction["allSelect"]" />
<input type="hidden" name="_nSelectedText" value="@DictionaryAction["nSelect"]" />
@section scripts{
    <script>
        $(document).ready(function () {

           

            $('#ddlactions').change(function () {
                var str = '';
                var cmd = $(this);
                cmd.parent().find('ul.multiselect-container li.active').each(function () {
                    var _cmd = $(this);
                    str += _cmd.find('input[type=checkbox]').val() + ',';
                });
                $('#actions').val(str);
            });

            $('#ddlusers').change(function () {
                var str = '';
                var cmd = $(this);
                cmd.parent().find('ul.multiselect-container li.active').each(function () {
                    var _cmd = $(this);
                    str += _cmd.find('input[type=checkbox]').val() + ',';
                });
                $('#users').val(str);
            });
        });
    </script>
}