@model Kztek.Model.Models.tblAccessLine

@{
    ViewBag.Title = "Create";
}

<div class="page-header">
    <h1>
        Thêm mới line
    </h1>
</div>
<div class="row">
    @if (TempData["Success"] != null)
    {
        <strong style="color:green">@TempData["Success"]</strong>
    }
    <strong style="color:red">@ViewBag.Error</strong>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("Create", "tblLine", FormMethod.Post, new { encType = "multipart/form-data", @class = "form-horizontal", @role = "form" }))
        {
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right"> Tên line </label>
                <div class="col-sm-4 col-xs-12">
                    @Html.TextBoxFor(n => n.LineName, new { @class = "form-control", @placeholder = "Nhập tên line" })
                    @Html.ValidationMessageFor(n => n.LineName, "", new { @class = "text-danger" })
                    @Html.Hidden("SaveAndCountinue", false)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right"> Máy tính </label>
                <div class="col-sm-4 col-xs-12">
                    @Html.DropDownListFor(n => n.PCID, new SelectList(ViewBag.PCs, "PCID", "PCName"), "--Chọn máy tính--", new { @class = "form-control chosen-select" })
                    @Html.ValidationMessageFor(n => n.PCID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right"> Truyền thông </label>
                <div class="col-sm-4 col-xs-12">
                    @Html.DropDownListFor(n => n.CommunicationType, new SelectList(ViewBag.Communications, "ItemValue", "ItemText"), new { @class = "form-control", @onchange = "ChangeCommunicationType()" })
                    @Html.ValidationMessageFor(n => n.CommunicationType, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right" id="comport"> Comport / IP</label>
                <div class="col-sm-4 col-xs-12">
                    @Html.TextBoxFor(n => n.Comport, new { @class = "form-control", @placeholder = "" })
                    @Html.ValidationMessageFor(n => n.Comport, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right" id="daudrate"> Baudrate/Port</label>
                <div class="col-sm-4 col-xs-12">
                    @Html.TextBoxFor(n => n.Baudrate, new { @class = "form-control", @placeholder = "" })
                    @Html.ValidationMessageFor(n => n.Baudrate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right"> Loại bộ điều khiển</label>
                <div class="col-sm-4 col-xs-12">
                    @Html.DropDownListFor(n => n.LineTypeID, new SelectList(ViewBag.LineTypes, "ItemValue", "ItemText"), new { @class = "form-control chosen-select" })
                    @Html.ValidationMessageFor(n => n.LineTypeID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right"> Download time </label>
                <div class="col-sm-4 col-xs-12">
                    @Html.TextBoxFor(n => n.DownloadTime, new { @class = "form-control", @placeholder = "Download time" })
                    @Html.ValidationMessageFor(n => n.DownloadTime, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right"> Ngừng sử dụng </label>
                <div class="col-sm-8">
                    <label class="line-height-250">
                        @Html.CheckBox("Inactive", false ,new { @class = "ace" })
                        <span class="lbl"></span>
                    </label>
                </div>
            </div>

            <div class="ace-settings-container" id="ace-settings-container" style="position: fixed; top: 155px;">
                <div class="btn btn-app btn-xs btn-grey ace-settings-btn open" id="ace-settings-btn">
                    <i class="ace-icon fa fa-cog bigger-130"></i>
                </div>

                <div class="ace-settings-box clearfix open" id="ace-settings-box">
                    <!-- /.pull-left -->
                    <div class="bg-rightbox">
                        <div class="clearfix lineButton">
                            <div class="col-md-12 input-group">
                                <button class="btn btn-success" type="submit" id="Countinue">
                                    <i class="ace-icon fa fa-refresh bigger-110"></i>
                                    Lưu
                                </button>
                                <button class="btn btn-info" type="submit">
                                    <i class="ace-icon fa fa-check bigger-110"></i>
                                    Lưu và thoát
                                </button>
                                <button class="btn" type="reset">
                                    <i class="ace-icon fa fa-undo bigger-110"></i>
                                    Nhập lại
                                </button>
                                <a href="@ViewBag.urlValue" class="btn btn-yellow">
                                    <i class="ace-icon fa fa-chevron-circle-left bigger-110"></i>
                                    Quay lại
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- /.pull-left -->
                </div><!-- /.ace-settings-box -->
            </div>
        }
    </div>
</div>

@section scripts{
    <script>
        function ChangeCommunicationType() {
            var type = $("#CommunicationType").val();
            if (type === "0") {
                $("#comport").text("Comport");
                $("#daudrate").text("Baudrate");
                $("#Comport").attr("placeholder", "COM1");
                $("#Baudrate").attr("placeholder", "9600");
            } else {
                $("#comport").text("Địa chỉ IP");
                $("#daudrate").text("Port");
                $("#Comport").attr("placeholder", "192.168.3.xx");
                $("#Baudrate").attr("placeholder", "80");
            }
        }

        $(document).ready(function () {
            $("#Countinue").click(function () {
                $("#SaveAndCountinue").val('true');
            });

            ChangeCommunicationType();
        });
    </script>
}