@using Kztek.Model.CustomModel
@using Kztek.Web.Core.Extensions
@using Kztek.Web.Attributes

@model PageModel<Kztek.Model.Models.BM_Building>

@{
    ViewBag.Title = "Danh sách tòa nhà";

    string controller = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="page-header">
    <h1>
        @ViewBag.Title (@Model.TotalItem)
    </h1>
</div>

<div class="row">
    @using (Html.BeginForm("Index", "BM_Building", FormMethod.Get, new { id = "frmCustomerMap" }))
    {
        <div class="row">
            @Html.Hidden("chkExport", "0")

            <div class="col-md-3 col-lg-2 col-xs-12 col-sm-12 divboxmd">
                <input type="text" id="key" name="key" value="@ViewBag.keyValue" placeholder="Từ khóa..." class="form-control" />
            </div>

            <div class="col-md-3 col-lg-4 col-xs-12 col-sm-12 divboxmd">
                @Html.Action("Actions", "Home", new { ActionName = "Search", ControllerName = controller })

                @* @Html.Action("Actions", "Home", new { ActionName = "Export", ControllerName = controller })*@

                @Html.Action("Actions", "Home", new { ActionName = "Index", ControllerName = controller })
            </div>


        </div>

    }

</div>

<div class="row">
    <div class="hr hr-18 dotted hr-24"></div>

    <div class="col-xs-14 col-sm-2 divboxmd">
        @if (CheckAuthorizeAction.CheckActionPemission(controller, "Create"))
        {
            <a href="@Url.Action("Create", controller, new { key = ViewBag.keyValue})" class="btn btn-sm btn-primary btn-white btn-bold">
                <i class=" fa fa-plus"></i> Thêm mới
            </a>
        }
    </div>

</div>
<div class="hr hr-18 dotted hr-24"></div>

<div class="row">
    <div class="col-xs-12">
        <table class="table  table-bordered table-hover">
            <thead>
                <tr class="headerSort">
                    <th class="text-left">STT</th>
                    <th class="text-left" idata="CustomerName"> Tên tòa nhà <i class=""></i></th>
                    <th class="text-left">Số tầng</th>
                    <th class="text-left">Mô tả tòa nhà</th>
                    <th class="text-left">Xử lý</th>
                </tr>
            </thead>

            <tbody>
                @if (Model.Data.Any())
                {
                    var count = (Model.PageIndex - 1) * Model.PageSize;
                    foreach (var item in Model.Data)
                    {
                        count++;
                        <tr>
                            <td class="text-left">@count</td>

                            <td class="text-left">
                                @item.Name
                            </td>

                            <td class="text-left">
                                @item.FloorNumber
                            </td>

                            <td class="text-left">
                                @if (item.Description.Length >= 100)
                                {
                                    @item.Description.Remove(101) <span>...</span>
                                }
                                else
                                {
                                    @item.Description
                                }

                            </td>


                            <td class="center">
                                <div class="btn-group">
                                    @if (CheckAuthorizeAction.CheckActionPemission(controller, "Update"))
                                    {
                                        <a href="@Url.Action("Update", controller, new { id = item.Id, key = ViewBag.keyValue})" class="green" title="Cập nhật">
                                            <i class="ace-icon fa fa-pencil bigger-120"></i>
                                        </a>
                                    }

                                    @Html.Action("Actions", "Home", new { ActionName = "Delete", ControllerName = controller, id = item.Id })

                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div><!-- /.span -->
    @if (Model.Data.Any())
    {
        <div class="col-xs-12">
            <div class="pull-right">
                @Html.GeneratePagingFooter(Model.TotalPage, Model.PageIndex, Model.PageSize, "pagination", x => Url.Action("Index", "BM_Building", new
           {
               page = x,
               key = ViewBag.keyValue,
           }))
            </div>
        </div>
    }
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            DeleteSubmit(_prefixResidentDomain + '/BM_Building/Delete');

            //Export excel
            $('button[name=btnExport]').click(function () {
                $('#chkExport').val('1');
                $('#frmCustomerMap').submit();
            });

            $('button[name=btnFilter]').click(function () {
                $('#chkExport').val('0'); // ko xuat xxcel
                $('#frmCustomerMap').submit();
            });
            //
        });
    </script>
}
