@using Kztek.Model.CustomModel
@using Kztek.Web.Core.Extensions
@using Kztek.Web.Attributes
@using Kztek.Web.Core.Functions

@model PageModel<Kztek.Model.Models.BM_Building_Service>

@{
    ViewBag.Title = "Danh sách dịch vụ";
    string objId = (string)ViewBag.objId;
    string controller = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="page-header">
    <h1>
        @ViewBag.Title
    </h1>
</div>

<div class="row">
    @using (Html.BeginForm("Index", "BM_Building_Service", FormMethod.Get, new { id = "frmFee" }))
    {
        <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12 divboxmd">
            <input type="text" name="key" value="@ViewBag.Keyword" placeholder="từ khóa" class="form-control" />
        </div>
      
        <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12 divboxmd">
            <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-search" aria-hidden="true"></i> Tìm kiếm </button>
            <a href="@Url.Action("Index", "BM_Building_Service")" class="btn btn-sm btn-purple" type="submit">
                <i class="fa fa-refresh" aria-hidden="true"></i>
                Reset
            </a>
        </div>
    }
</div>
<div class="hr hr-18 dotted hr-24"></div>
<div class="row">
    <div class="col-xs-12">
        @Html.Action("Actions", "Home", new { ActionName = "Create", ControllerName = controller, group = ViewBag.Group })
       
    </div>
</div>
<div class="hr hr-18 dotted hr-24"></div>

<div class="row">
    <div class="col-xs-12">
        <table class="table  table-bordered table-hover">
            <thead>
                <tr>
                    <th class="center">Dịch vụ</th>

                    <th class="center">Loại thu</th>
                    <th class="center" width="150">Thời gian thu</th>
                    <th class="center">Giá</th>
                    <th class="center" width="150">Ngày tạo</th>
                    <th class="center" width="80"></th>
                </tr>
            </thead>

            <tbody>
                @if (Model.Data.Any())
                {
                    foreach (var item in Model.Data)
                    {
                        <tr class="@string.Format("{0}", (!string.IsNullOrWhiteSpace(objId) && objId == item.Id.ToString() ) ? "info" : "")">
                            <td class="text-left">
                                @item.Name
                            </td>

                           
                            <td class="text-left">
                                @if (item.ScheduleType == 1)
                                {
                                    <span>Hàng tháng</span>
                                }
                                else
                                {
                                    <span>Hàng năm</span>
                                }
                            </td>
                             <td class="text-left">
                               @item.SchedulePay
                            </td>
                             <td class="text-right">
                                @if(item.Price > 0)
                                {
                                <span>@item.Price.ToString("###,###")</span>
                                }
                                else
                                {
                                <span>@item.Price</span>
                                }

                            </td>
                            <td class="center">
                                @item.DateCreated.ToString("dd/MM/yyyy")
                            </td>
                     
                            <td class="center">
                                <div class="btn-group">
                                    @Html.Action("Actions", "Home", new { ActionName = "Update", ControllerName = controller, id = item.Id, pageNumber = Model.PageIndex, group = ViewBag.Group })
        @Html.Action("Actions", "Home", new { ActionName = "Delete", ControllerName = controller, id = item.Id })
                                   
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div><!-- /.span -->
    @if (Model.Data.Any())
    {
        <div class="col-xs-12">
            <div class="pull-right">
                @Html.GeneratePagingFooter(Model.TotalPage, Model.PageIndex, Model.PageSize, "pagination", x => Url.Action("Index", "BM_Building_Service", new
           {
               page = x,
               key = ViewBag.Keyword
              
           }))
            </div>
        </div>
    }
</div><!-- /.row -->
@section scripts{
    <script>
        $(document).ready(function () {
            SearchSubmit("frmFee");
          
            $('.btnDelete').click(function () {
                var cmd = $(this);
                var _id = cmd.attr('idata');

                bootbox.confirm("Bạn chắc chắn muốn xóa bản ghi này?", function (result) {
                    if (result) {
                        $.ajax({
                            url: _prefixResidentDomain + '/BM_Building_Service/Delete',
                            data: { id: _id },
                            type: 'json',
                            //async:false,
                            success: function (data) {
                                if (data.isSuccess) {
                                    cmd.parent().parent().parent().fadeOut();
                                    toastr.success(data.Message, "Thông báo");
                                } else {
                                    toastr.error(data.Message, "Thông báo");
                                }
                            }
                        });
                    }
                });
            });
         
        });
    </script>
}