@using Kztek.Web.Core.Extensions
@using Kztek.Web.Models
@using Kztek.Web.Core.Functions

@model Kztek.Model.Models.User

@{
    ViewBag.Title = "Cập nhật người dùng";

    int pn = Convert.ToInt32(ViewBag.PN);
    string selected = (string)ViewBag.Selected;
    var currentUser = Kztek.Web.Core.Functions.GetCurrentUser.GetUser();

    string groupID = (string)ViewBag.GroupID;
    Layout = Kztek.Web.Core.Functions.FunctionHelper.GetLayoutByGroup(groupID);

    var Dictionary = FunctionHelper.GetLocalizeDictionary("User", "Update");
    var DictionaryAction = FunctionHelper.GetLocalizeDictionary("Home", "Action");
    var isAuthInView = (bool)ViewBag.isAuthInView;
    var cardgroupIds = (string)ViewBag.CardGroupIds;
}

<div class="page-header">
    <h1>
        @Dictionary["Title"]
    </h1>
</div>
<div class="row">
    @if (TempData["Success"] != null)
    {
        <strong style="color:green">@TempData["Success"]</strong>
    }
    <strong style="color:red">@ViewBag.Error</strong>
</div>
<div class="row">
    <div class="col-md-8 col-xs-12">
        <h3 class="header smaller lighter blue">@Dictionary["Tab_Info"] </h3>
        @using (Html.BeginForm("Update", "User", FormMethod.Post, new { encType = "multipart/form-data", @class = "form-horizontal", @role = "form", @id = "frmUpdateUser" }))
        {
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right"> @Dictionary["Username"]  <span style="color:red">*</span></label>
                <div class="col-sm-6 col-xs-12">
                    @Html.TextBoxFor(n => n.Username, new { @class = "form-control", @placeholder = Dictionary["UsernamePlaceholder"] })
                    @Html.ValidationMessageFor(n => n.Username, "", new { @class = "text-danger" })
                    @Html.HiddenFor(n => n.Id)
                    @Html.Hidden("rolevalues", "")
                    @Html.Hidden("authcardgroupid", "")
                    @Html.Hidden("group", groupID)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right"> @Dictionary["Password"]  </label>
                <div class="col-sm-6 col-xs-12">
                    @Html.TextBox("pass", "", new { @class = "form-control", @type = "password" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right"> @Dictionary["RePassword"]  </label>
                <div class="col-sm-6 col-xs-12">
                    @Html.TextBox("repass", "", new { @class = "form-control", @type = "password" })
                    @Html.ValidationMessage("repass", "", new { @class = "text-danger" })
                </div>
            </div>
            if (currentUser.Admin)
            {
                <div class="form-group">
                    <label class="col-sm-4 control-label no-padding-right"> @Dictionary["IsAdmin"]  </label>
                    <div class="col-sm-6">
                        <label class="line-height-250">
                            @Html.CheckBoxFor(n => n.Admin, new { @class = "ace", @checked = "true" })
                            <span class="lbl"></span>
                        </label>
                    </div>
                </div>
            }
            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right"> @Dictionary["Active"]  </label>
                <div class="col-sm-6">
                    <label class="line-height-250">
                        @Html.CheckBoxFor(n => n.Active, new { @class = "ace", @checked = "true" })
                        <span class="lbl"></span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right"> @Dictionary["Avatar"]  </label>
                <div class="col-sm-6">
                    <input type="file" name="FileUpload" id="FileUpload" />
                </div>
                <div class="col-sm-offset-4 col-sm-6">
                    @if (!string.IsNullOrWhiteSpace(Model.UserAvatar))
                    {
                        <img src="@Model.UserAvatar.ImagePathThumb(150,150)" alt="@Model.UserAvatar" />
                    }
                </div>
            </div>

            <div class="clearfix form-actions">
                <div class="col-md-offset-4 col-md-8 input-group">
                    <button class="btn btn-info" type="submit">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        @DictionaryAction["Save"] 
                    </button>
                    &nbsp; &nbsp; &nbsp;
                    <button class="btn" type="reset">
                        <i class="ace-icon fa fa-undo bigger-110"></i>
                        @DictionaryAction["Refresh"] 
                    </button>
                    &nbsp; &nbsp; &nbsp;
                    <a href="@Url.Action("Index", "User", new { page = pn, group = groupID })" class="btn btn-yellow">
                        <i class="ace-icon fa fa-chevron-circle-left bigger-110"></i>
                        @DictionaryAction["BackToList"] 
                    </a>
                </div>
            </div>
        }
    </div>
    <div class="col-md-4 col-xs-12" id="boxRole">
        <h3 class="header smaller lighter blue">@Dictionary["Tab_Role"] </h3>
        @Html.Action("RoleListChoice", "User", new { roles = selected })

        @if (isAuthInView)
        {
            <h3 class="header smaller lighter blue">Nhóm thẻ </h3>
            @Html.Action("Partial_AuthGroup", "User",new { CardGroupIds = cardgroupIds })
        }
    </div>
</div>

@section scripts{
<script src="~/Scripts/Ext/AuthGroup.js"></script>
    <script>
        $(document).ready(function () {
            $('#ac_hethong').addClass('open');
            $('#ac_userIndex').addClass('open active');
            $(".multiselect-container").css({ "height": "150px", "overflow-y": "auto" })

            $("#frmUpdateUser").submit(function () {
                var str = "";
                $("input[name='chkCheckBox']").each(function () {
                    var cmd = $(this);
                    var id = cmd.prop("value");
                    if ($(this).is(":checked")) {
                        str = str + id + ",";
                    }
                });
                $("#rolevalues").val(str);
            });

            $("#boxGroupList").find("#ddlGroupList").change(function () {
                var str = '';
                $('#boxGroupList ul.multiselect-container li.active').each(function () {
                    var cmd = $(this);
                    str += cmd.find('input[type=checkbox]').val() + ',';
                });
                $('#hidGroupList').val(str);
            });

            var cmdAdmin = $("#isAdmin").is(':checked');
            if (cmdAdmin) {
                $("#boxRole").hide();
            } else {
                $("#boxRole").show();
            }

            $("#Admin").click(function () {
                var cmd = $(this).is(':checked');
                if (cmd) {
                    $("#boxRole").hide();
                    SY_UserController.CheckGroup();

                } else {
                    $("#boxRole").show();
                    SY_UserController.UnCheckGroup();
                }
            });
        });
    </script>
}