@model List<Kztek.Model.Models.ReportTotalMoneyCardMonthByCardGroup>
@using Kztek.Web.Core.Functions

@{
    double money = 0;
    var Dictionary = FunctionHelper.GetLocalizeDictionary("report", "ReportTotalMoneyCardMonthByGroupUser");
    var DictionarySearch = FunctionHelper.GetLocalizeDictionary("report", "reportSearch");
}

<button type="button" id="btnAddCamera" onclick="printDiv('Print')" class="btn btn-info btn-sm">
    <i class="fa fa-print"></i>
    Print
</button>
<div class="hr hr-18 dotted hr-24"></div>
<div id="Print">
    <div class="row">
        <div class="col-xs-12">
            <table class="table">
                <tr style="height:10px;border-style:hidden;">
                    <td>
                        <h2 style="font-family: Arial;text-align:center;">@Dictionary["title"]</h2>
                        <div id="div_information" style="margin: 10px auto; font-family: Arial;text-align:center;" runat="server">
                            @DictionarySearch["fromDate"] <strong>@ViewBag.fromdateValue</strong> @DictionarySearch["toDate"] <strong>@ViewBag.todateValue</strong>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <table class="table  table-bordered table-hover">
                <thead>
                    <tr class="headerSort">
                        <th class="center" width="50">
                            @Dictionary["stt"]
                        </th>
                        <th class="text-left"> @Dictionary["cusGrp"] </th>
                        <th class="center"> @Dictionary["amount"] </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Any())
                    {
                        var count = 0;
                        foreach (var item in Model)
                        {
                            count++;
                            money += item.Moneys;
                            var a = (Convert.ToInt32(item.Level) - 1) * 30;
                            var style = "margin-left:" + a + "px;";
                            <tr>
                                <td align="center">@count</td>
                                <td>
                                    <span style="@style"></span>
                                    @item.GroupName
                                </td>
                                <td align="center">
                                    @if (item.Moneys > 0)
                                    {
                                        @item.Moneys.ToString("###,###")
                                    }
                                    else
                                    {
                                        <span>0</span>
                                    }
                                </td>
                            </tr>
                        }
                        <tr>
                            <td align="center">#</td>
                            <td><span style="margin-left:30px;"></span>TỔNG SỐ</td>
                            <td align="center">
                                @if (money > 0)
                                {
                                    @money.ToString("###,###")
                                }
                                else
                                {
                                    <span>0</span>
                                }

                            </td>
                        </tr>
                    }
                </tbody>
                @*<tfoot>

                    </tfoot>*@
            </table>
        </div>
    </div>

</div>



@section scripts{
    <script src="~/Areas/Parking/Scripts/PrintFunction.js"></script>
}











