@model List<Kztek.Model.Models.ReportTotalMoneyCardMonthByCardGroup>
@using Kztek.Web.Core.Functions

@{
    ViewBag.Title = "ReportTotalMoneyCardMonthByCardGroup";

    var DictionarySearch = FunctionHelper.GetLocalizeDictionary("report", "reportSearch");
    var Dictionary = FunctionHelper.GetLocalizeDictionary("report", "ReportTotalMoneyCardMonthByCardGroup");
}

<button type="button" id="btnAddCamera" onclick="printDiv('Print')" class="btn btn-info btn-sm">
    <i class="fa fa-print"></i>
    Print
</button>
<div class="hr hr-18 dotted hr-24"></div>
<div id="Print">
    <div class="row">
        <div class="col-xs-12">
            <table class="table">
                <tr style="height:10px;border-style:hidden;">
                    <td>
                        <h2 style="font-family: Arial;text-align:center;">@Dictionary["title"]</h2>
                        <div id="div_information" style="margin: 10px auto; font-family: Arial;text-align:center;" runat="server">
                            @DictionarySearch["fromDate"] <strong>@ViewBag.fromdateValue</strong> @DictionarySearch["toDate"] <strong>@ViewBag.todateValue</strong>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <table class="table  table-bordered table-hover">
                <thead>
                    <tr class="headerSort">
                        <th class="center" width="50">
                            @Dictionary["stt"]
                        </th>
                        <th class="text-left">@Dictionary["cardGroupName"]</th>
                        <th class="center">@Dictionary["amount"]</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Any())
                    {
                        var count = 0;
                        foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <td align="center">@count</td>
                                <td>
                                    @item.GroupName
                                </td>
                                <td align="center">
                                    @if (item.Moneys > 0)
                                    {
                                        @item.Moneys.ToString("###,###")
                                    }
                                    else
                                    {
                                        <span>0</span>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
                @*<tfoot>
                        <tr>
                            <td>#</td>
                            <td>TỔNG SỐ</td>
                            <td>@money</td>
                        </tr>
                    </tfoot>*@
            </table>
        </div>
    </div>
</div>




@section scripts{
    <script src="~/Areas/Parking/Scripts/PrintFunction.js"></script>
}










