@using Kztek.Model.CustomModel
@using Kztek.Web.Core.Extensions
@using Kztek.Web.Core.Helpers
@using Kztek.Web.Attributes

@model List<Kztek.Model.Models.ReportDetailMoneyCardDay>

@{
    ViewBag.Title = "PrintReportDetailMoneyCardDay";

    var listLane = (List<Kztek.Model.Models.tblLane>)ViewBag.Lanes;

    var listcardGroup = (List<SelectListModel2>)ViewBag.CardGroups;

    var listuser = (List<Kztek.Model.Models.User>)ViewBag.Users;

    var user = Kztek.Web.Core.Functions.GetCurrentUser.GetUser();

    var key = ViewBag.Key;

    string filterLink = ViewBag.FilterLink;
    string totalMoney = ViewBag.TotalMoney.ToString();
}

<div class="hr hr-18 dotted hr-24"></div>
@*@if (Model.Data.Any())
{
    <div class="row">

        <div class="col-xs-12">
            <div class="pull-left">
                @Html.GeneratePagingFooter(Model.TotalPage, Model.PageIndex, Model.PageSize, "pagination", x => Url.Action("PrintReportDetailMoneyCardDayTRANSERCO", "Report", new
           {
               page = x,
               key = ViewBag.KeyWord,
               cardgroup = ViewBag.CardGroupId,
               datefrompicker = ViewBag.DateFromPickerValue,
               lane = ViewBag.LaneId,
               user = ViewBag.UserId,
               fromdate = ViewBag.fromdateValue,
               todate = ViewBag.todateValue
           }))
            </div>
        </div>
    </div>
}*@

<div class="row">
    <div class="col-xs-12">
        <form class="form-horizontal">
            @*<div class="form-group col-xs-12 col-sm-3">
                <input type="text" id="txtPageSize" value="@ViewBag.PageSize" placeholder="Số bản ghi" class="form-control" />
            </div>*@
            <div class="form-group col-xs-12 col-sm-3">
                <span class="input-group-btn">
                    @*<button type="button" id="btnRefresh" class="btn btn-primary btn-sm">
                        <i class="fa fa-refresh"></i>
                        Refresh
                    </button>*@
                    <button type="button" id="btnAddCamera" onclick="printDiv('Print')" class="btn btn-info btn-sm">
                        <i class="fa fa-print"></i>
                        Print
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>

<div class="hr hr-18 dotted hr-24"></div>

<div id="Print">
    <div class="row">
        <div class="col-xs-12" style="height:55px;">
            <table class="table" style="margin-bottom:unset;">
                <tr style="border-style:hidden;">
                    <td>
                        <h4 style="font-family: 'Times New Roman';text-align:center;font-size:12px;font-weight:bold;">TRUNG TÂM QUẢN LÝ KHAI THÁC TÒA NHÀ</h4>
                        <h4 style="font-family: 'Times New Roman';text-align:center;font-size:12px;font-weight:bold;">PHÒNG KINH DOANH</h4>

                    </td>
                    <td>
                        <h4 style="font-family: 'Times New Roman';text-align:center;font-size:12px;font-weight:bold;">CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</h4>
                        <h4 style="font-family: 'Times New Roman';text-align:center;font-size:12px;font-weight:bold;">Độc lập - Tự do - Hạnh phúc</h4>
                    </td>

                </tr>              
            </table>
         
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table" style="margin-bottom:unset;">
                <tr style="border-style:hidden;">
                    <td>
                        <h4 style="font-family: 'Times New Roman';text-align:center;font-size:18px;font-weight:bold;">DANH SÁCH SỰ KIỆN TRẢ SAU</h4>
                        <div id="div_information" style="margin: 10px auto; font-family: 'Times New Roman';text-align:center;font-size:12px;" runat="server">
                            Từ ngày <strong>@ViewBag.fromdateValue</strong> đến ngày <strong>@ViewBag.todateValue</strong>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <table class="table  table-bordered table-hover tablecss" style="border:solid #000 !important;
    border-width:1px 0 0 1px !important;">
                <thead>
                    <tr class="headerSort" style="font-family: 'Times New Roman';">
                        <th class="center" style="border:solid #000 !important;border-width:0 1px 1px 0 !important;">STT</th>
                        @*<th class="text-left" idata="Card"> CardNo <i class=""></i></th>*@
                        <th class="center" style="border:solid #000 !important;border-width:0 1px 1px 0 !important;">Mã thẻ</th>
                        <th class="center" style="border:solid #000 !important;border-width:0 1px 1px 0 !important;">Biển số</th>
                        <th class="center" style="border:solid #000 !important;border-width:0 1px 1px 0 !important;">Thời gian vào</th>
                        <th class="center" style="border:solid #000 !important;border-width:0 1px 1px 0 !important;">Thời gian ra</th>
                        @*<th class="text-left hidden-480" idata="CardGroup">Nhóm thẻ <i class=""></i></th>
                <th class="text-left hidden-480" idata="Customer">Khách hàng <i class=""></i></th>
                <th class="text-left hidden-480">Làn vào</th>
                <th class="text-left hidden-480">Làn ra</th>
                <th class="text-left">Giám sát vào</th>
                <th class="text-left">Giám sát ra</th>*@
                        <th class="center" style="border:solid #000 !important;border-width:0 1px 1px 0 !important;">Số tiền</th>
                        <th class="center hidden-480" style="border:solid #000 !important;border-width:0 1px 1px 0 !important;">Tổng TG</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Any())
                    {

                        foreach (var item in Model)
                        {

                    <tr style="font-size:12px;font-family: 'Times New Roman';">
   
                        <td class="center" style="border:solid #000 !important;border-width:0 1px 1px 0 !important;">
                            @item.RowNumber
                        </td>

                        <td class="center" style="border:solid #000 !important;border-width:0 1px 1px 0 !important;">
                            @item.CardNumber
                        </td>
                        <td class="center" style="border:solid #000 !important;border-width:0 1px 1px 0 !important;">
                            @item.Plate
                        </td>
                        <td class="center" style="border:solid #000 !important;border-width:0 1px 1px 0 !important;">
                            @Convert.ToDateTime(item.DateTimeIn).ToString("dd/MM/yyy HH:mm:ss")
                        </td>
                        <td class="center" style="border:solid #000 !important;border-width:0 1px 1px 0 !important;">
                            @Convert.ToDateTime(item.DateTimeOut).ToString("dd/MM/yyy HH:mm:ss")
                        </td>

                        <td class="text-right" style="border:solid #000 !important;border-width:0 1px 1px 0 !important;">
                            @item.Moneys.FormatMoney()
                        </td>
                        <td class="center" style="border:solid #000 !important;border-width:0 1px 1px 0 !important;">
                            <span>@StringUtil.CalculateTimeDiff(item.DateTimeIn, item.DateTimeOut)</span>
                        </td>
                    </tr>
                        }
                        <tr style="font-family: 'Times New Roman';">
                            
                            <td style="font-weight:bold;text-align:center;border:solid #000 !important;
    border-width:0 1px 1px 0 !important;" colspan="5">TỔNG: @ViewBag.StringMoney</td>
                            
                            <td class="text-right" style="font-weight:bold;border:solid #000 !important;
    border-width:0 1px 1px 0 !important;">@totalMoney.FormatMoney()</td>
                            <td style="border:solid #000 !important;
    border-width:0 1px 1px 0 !important;"></td>
                        </tr>
                    }
                </tbody>
            
            </table>
        </div>

    </div>

    <div class="row">
        <div class="col-xs-12" style="height:30px;">
            <table class="table">
                <tr style="border-style:hidden;">
                    <td>
                        <p style="font-style: oblique;font-size:12px;float:right;padding-right:50px;font-family: 'Times New Roman';">
                            Hà Nội, ngày @DateTime.Now.ToString("dd") tháng @DateTime.Now.ToString("MM") năm @DateTime.Now.Year
                        </p>
                        
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <table class="table">
                <tr style="height:35px;border-style:hidden;">
                    <td>
                        <h4 style="font-family: 'Times New Roman';text-align:center;font-size:12px;font-weight:bold;">GIÁM ĐỐC</h4>
                    </td>
                    <td>
                        <h4 style="font-family: 'Times New Roman';text-align:center;font-size:12px;font-weight:bold;">TP. TÀI CHÍNH - KẾ TOÁN</h4>
                    </td>
                    <td>
                        <h4 style="font-family: 'Times New Roman';text-align:center;font-size:12px;font-weight:bold;">P. KINH DOANH</h4>
                    </td>
                    <td>
                        <h4 style="font-family: 'Times New Roman';text-align:center;font-size:12px;font-weight:bold;">NGƯỜI LẬP BIỂU</h4>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Areas/Parking/Scripts/PrintFunction.js"></script>
    <script type="text/javascript">
    </script>
}