@using Kztek.Model.CustomModel
@using Kztek.Web.Core.Extensions
@using Kztek.Web.Attributes

@model PageModel<Kztek.Model.Models.ReportPrint>

@{
    ViewBag.Title = "ReportVehicleOutByHand";

    var listLane = (List<Kztek.Model.Models.tblLane>)ViewBag.LaneList;

    var listcardGroup = (List<Kztek.Model.Models.tblCardGroup>)ViewBag.CardGroups;

    var listuser = (List<Kztek.Model.Models.User>)ViewBag.Users;

    bool checkByTime = Convert.ToBoolean(ViewBag.CheckByTime);

    var user = Kztek.Web.Core.Functions.GetCurrentUser.GetUser();
}

<div class="page-header">
    <h1>
        Báo cáo cho xe ra thủ công(<span>@Model.TotalItem</span>)
    </h1>
</div>

<div class="row">
    @using (Html.BeginForm("ReportVehicleOutByHand", "Report", FormMethod.Get, new { id = "frmReportIn" }))
    {
        @Html.Hidden("chkExport", "0")
        <div class="col-md-2 col-xs-12 divboxmd">
            Từ khóa:
            <input type="text" name="key" value="@ViewBag.KeyWord" placeholder="Từ khóa..." class="form-control" />
        </div>

        <div class="col-md-3 col-xs-12 divboxmd">
            Từ ngày:
            <div class="input-group">
                @Html.TextBox("fromdate", (string)ViewBag.fromdateValue, new { @class = "form-control datepicker" })
                <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </span>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 divboxmd">
            Đến ngày:
            <div class="input-group">
                @Html.TextBox("todate", (string)ViewBag.todateValue, new { @class = "form-control datepicker" })
                <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </span>
            </div>
        </div>

        <div class="col-md-12 col-xs-12 divboxmd" style="padding-top:30px;">
            @Html.Action("Actions", "Home", new { ActionName = "Search", ControllerName = "ReportVehicleOutByHand" })

            @Html.Action("Actions", "Home", new { ActionName = "Export", ControllerName = "ReportVehicleOutByHand" })

            @Html.Action("Actions", "Home", new { ActionName = "Index", ControllerName = "ReportVehicleOutByHand" })
        </div>
    }
</div>

<div class="hr hr-18 dotted hr-24"></div>

<div class="row">
    <div class="col-xs-12">
        <table class="table  table-bordered table-hover">
            <thead>
                <tr class="headerSort">
                    <th class="center">STT</th>
                    <th class="center">Thời gian</th>
                    <th class="center">Người dùng</th>
                    <th class="hidden-480 center">Ứng dụng</th>
                    <th class="hidden-480 center">Hợp đồng</th>
                    <th class="hidden-480 center">Thao tác</th>
                    <th class="hidden-480 center">Mô tả</th>

                </tr>
            </thead>
            <tbody>
                @if (Model.Data.Any())
                {

                    foreach (var item in Model.Data)
                    {

                        <tr>
                            <td class="center">@item.RowNumber</td>
                            <td class="center">
                                @Convert.ToDateTime(item.Date).ToString("dd/MM/yyy")
                            </td>
                            <td>
                                @item.UserName
                            </td>
                            <td class="hidden-480">
                                @item.SubSystemCode
                            </td>
                            <td class="hidden-480">
                                @item.ObjectName
                            </td>
                            <td class="hidden-480 center">
                                @item.Actions
                            </td>
                            <td class="hidden-480">
                                @item.Description
                            </td>

                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    @if (Model.Data.Any())
    {
        <div class="col-xs-12">
            <div class="pull-right">
                @Html.GeneratePagingFooter(Model.TotalPage, Model.PageIndex, Model.PageSize, "pagination", x => Url.Action("ReportVehicleOutByHand", "Report", new
           {
               page = x,
               key = ViewBag.KeyWord,
               datefrompicker = ViewBag.DateFromPickerValue,
               fromdate = ViewBag.fromdateValue,
               todate = ViewBag.todateValue

           }))
            </div>
        </div>
    }
</div>

@section scripts{
    <script>
        jQuery(function ($) {

            var $overflow = '';
            var colorbox_params = {
                rel: 'colorbox',
                reposition: true,
                scalePhotos: true,
                scrolling: false,
                previous: '<i class="ace-icon fa fa-arrow-left"></i>',
                next: '<i class="ace-icon fa fa-arrow-right"></i>',
                close: '&times;',
                current: '{current} of {total}',
                maxWidth: '100%',
                maxHeight: '100%',
                onOpen: function () {
                    $overflow = document.body.style.overflow;
                    document.body.style.overflow = 'hidden';
                },
                onClosed: function () {
                    document.body.style.overflow = $overflow;
                },
                onComplete: function () {
                    $.colorbox.resize();
                }
            };

            $('.ace-thumbnails [data-rel="colorbox"]').colorbox(colorbox_params);
            $("#cboxLoadingGraphic").html("<i class='ace-icon fa fa-spinner orange fa-spin'></i>");//let's add a custom loading icon


            $(document).one('ajaxloadstart.page', function (e) {
                $('#colorbox, #cboxOverlay').remove();
            });



        });

        $(document).ready(function () {

            //Export excel
            $('button[name=btnExport]').click(function () {
                $('#chkExport').val('1');
                $('#frmReportIn').submit();
            });

            $('button[name=btnFilter]').click(function () {
                $('#chkExport').val('0'); // ko xuat xxcel
                $('#frmReportIn').submit();
            });


        });
    </script>
}




