@using Kztek.Model.CustomModel
@using Kztek.Web.Core.Extensions
@using Kztek.Web.Attributes
@model System.Data.DataTable

@{
    ViewBag.Title = "ReportTotalMoneyByCardGroupCAB2VCT";
    var _dt = (System.Data.DataTable)ViewBag.dt;
    double totalmoney = 0;
}

<div class="page-header">
    <h1>
        BÁO CÁO DOANH THU BÃI XE MÁY THEO CA
    </h1>
</div>

<div class="row">
    @using (Html.BeginForm("ReportTotalMoneyByCardGroupCAB2VCT", "Report", FormMethod.Get, new { id = "frmReportIn" }))
    {
        @Html.Hidden("chkExport", "0")
        <div class="col-md-3 col-xs-12 divboxmd">
            Từ ngày:
            <div class="input-group">
                @Html.TextBox("fromdate", (string)ViewBag.fromdateValue, new { @class = "form-control datepicker" })
                <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </span>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 divboxmd">
            Đến ngày:
            <div class="input-group">
                @Html.TextBox("todate", (string)ViewBag.todateValue, new { @class = "form-control datepicker" })
                <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </span>
            </div>
        </div>

        @*<div class="col-md-2 col-xs-12 divboxmd">
                <div class="control-label">
                    Nhóm thẻ:
                </div>
                <div>
                    @Html.Action("DroplistMultiSelectTemplate1", "CommonUse", new { _dt = ViewBag.CardGroupDT, itemValue = "CardGroupID", itemText = "CardGroupName", selectedValues = ViewBag.CardGroupId, Modelname = "ddlcardgroup", labelName = "-- Lựa chọn --" })
                    @Html.Hidden("cardgroup")
                </div>
            </div>*@

        <div class="col-md-12 col-xs-12 divboxmd">
            @Html.Action("Actions", "Home", new { ActionName = "Search", ControllerName = "ReportTotalMoneyByCardGroupCAB2VCT" })

            @Html.Action("Actions", "Home", new { ActionName = "Export", ControllerName = "ReportTotalMoneyByCardGroupCAB2VCT" })

            @Html.Action("Actions", "Home", new { ActionName = "Print", ControllerName = "ReportTotalMoneyByCardGroupCAB2VCT" })

            @Html.Action("Actions", "Home", new { ActionName = "Index", ControllerName = "ReportTotalMoneyByCardGroupCAB2VCT" })
        </div>
    }
</div>

<div class="hr hr-18 dotted hr-24"></div>

<div class="row">
    <div class="col-xs-12">
        <table class="table  table-bordered table-hover">
            <thead>
                <tr class="headerSort">
                    <th style="text-align:center;font-weight:bold;" colspan="5">Số lượt xe vào</th>

                </tr>
                <tr>
                    @*@if (_dt != null && _dt.Rows.Count > 0)
                        {
                            foreach (System.Data.DataRow drin in _dt.Rows)
                            {
                                <th style="text-align: center;">@drin["CardGroupName"].ToString()</th>
                            }

                        }*@
                    <th style="text-align: center;">
                        Xe máy nhân viên
                    </th>
                    <th style="text-align: center;">
                        Xe máy khách
                    </th>
                    <th style="text-align: center;">
                        Xe đạp nhân viên
                    </th>
                    <th style="text-align: center;">
                        Xe đạp khách
                    </th>
                    <th style="text-align: center;">
                        Tổng số
                    </th>
                </tr>
                <tr>
                    @if (_dt != null && _dt.Rows.Count > 0)
                    {
                        foreach (System.Data.DataRow drin in _dt.Rows)
                        {
                            <td style="text-align: center;">@drin["TotalVehicleIn"].ToString()</td>
                        }

                    }

                    @*<td style="text-align: center;">100</td>
                        <td style="text-align: center;">100</td>
                        <td style="text-align: center;">100</td>
                        <td style="text-align: center;">100</td>*@
                </tr>
                <tr class="headerSort">
                    <th style="text-align:center;font-weight:bold;" colspan="5">Số lượt xe ra</th>
                </tr>
                <tr>
                    @*@if (_dt != null && _dt.Rows.Count > 0)
                        {
                            foreach (System.Data.DataRow drin in _dt.Rows)
                            {
                                <th style="text-align: center;">@drin["CardGroupName"].ToString()</th>
                            }

                        }*@
                    <th style="text-align: center;">
                        Xe máy nhân viên
                    </th>
                    <th style="text-align: center;">
                        Xe máy khách
                    </th>
                    <th style="text-align: center;">
                        Xe đạp nhân viên
                    </th>
                    <th style="text-align: center;">
                        Xe đạp khách
                    </th>
                    <th style="text-align: center;">
                        Tổng số
                    </th>
                </tr>
                <tr>
                    @if (_dt != null && _dt.Rows.Count > 0)
                    {
                        foreach (System.Data.DataRow drin in _dt.Rows)
                        {
                            <td style="text-align: center;">@drin["TotalVehicleOut"].ToString()</td>
                        }

                    }
                    @*<td style="text-align: center;">100</td>
                        <td style="text-align: center;">100</td>
                        <td style="text-align: center;">100</td>
                        <td style="text-align: center;">100</td>
                        <td style="text-align: center;">100</td>*@
                </tr>

                <tr class="headerSort">
                    <th style="text-align:center;" colspan="3">Chi tiết</th>
                    <th style="text-align:center;" colspan="1">Số lượng</th>
                    <th style="text-align:center;" colspan="1">Thành tiền</th>
                </tr>
                <tr class="headerSort">
                    <td style="text-align:left;padding-left:75px;" colspan="3">Số xe máy khách thu 2.000đ (7h01 - 19h)</td>
                    <td style="text-align:center;" colspan="1">@Model.Rows[0]["VehicleName"].ToString()</td>
                    <td style="text-align:center;color:red;" colspan="1">@Model.Rows[0]["Moneys"].ToString().FormatMoney() VNĐ</td>
                    @{ totalmoney += Convert.ToDouble(@Model.Rows[0]["Moneys"].ToString());}
                </tr>
                <tr class="headerSort">
                    <td style="text-align:left;padding-left:75px;" colspan="3">Số xe máy khách thu 3.000đ (19h01 - 7h)</td>
                    <td style="text-align:center;" colspan="1">@Model.Rows[1]["VehicleName"].ToString()</td>
                    <td style="text-align:center;color:red;" colspan="1">@Model.Rows[1]["Moneys"].ToString().FormatMoney() VNĐ</td>
                    @{ totalmoney += Convert.ToDouble(@Model.Rows[1]["Moneys"].ToString());}
                </tr>
                <tr class="headerSort">
                    <td style="text-align:left;padding-left:75px;" colspan="3">Số xe đạp khách thu 1.000đ (7h01 - 19h)</td>
                    <td style="text-align:center;" colspan="1">@Model.Rows[2]["VehicleName"].ToString()</td>
                    <td style="text-align:center;color:red;" colspan="1">@Model.Rows[2]["Moneys"].ToString().FormatMoney() VNĐ</td>
                    @{ totalmoney += Convert.ToDouble(@Model.Rows[2]["Moneys"].ToString());}
                </tr>
                <tr class="headerSort">
                    <td style="text-align:left;padding-left:75px;" colspan="3">Số xe đạp khách thu 2.000đ (19h01 - 7h)</td>
                    <td style="text-align:center;" colspan="1">@Model.Rows[3]["VehicleName"].ToString()</td>
                    <td style="text-align:center;color:red;" colspan="1">@Model.Rows[3]["Moneys"].ToString().FormatMoney() VNĐ</td>
                    @{ totalmoney += Convert.ToDouble(@Model.Rows[3]["Moneys"].ToString());}
                </tr>
                <tr class="headerSort">
                    <td style="text-align:left;padding-left:75px;" colspan="3">Số xe máy quá giờ</td>
                    <td style="text-align:center;" colspan="1">@Model.Rows[4]["VehicleName"].ToString()</td>
                    <td style="text-align:center;color:red;" colspan="1">@Model.Rows[4]["Moneys"].ToString().FormatMoney() VNĐ</td>
                    @{ totalmoney += Convert.ToDouble(@Model.Rows[4]["Moneys"].ToString());}
                </tr>
                <tr class="headerSort">
                    <td style="text-align:left;padding-left:75px;" colspan="3">Số xe đạp quá giờ</td>
                    <td style="text-align:center;" colspan="1">@Model.Rows[5]["VehicleName"].ToString()</td>
                    <td style="text-align:center;color:red;" colspan="1">@Model.Rows[5]["Moneys"].ToString().FormatMoney() VNĐ</td>
                    @{ totalmoney += Convert.ToDouble(@Model.Rows[5]["Moneys"].ToString());}
                </tr>

                @*<tr class="headerSort">
                        <th style="text-align:center;" colspan="3" rowspan="2">Số xe quá giờ</th>
                        <th style="text-align:center;" colspan="1">Số ngày</th>
                        <th style="text-align:center;" colspan="1">Thành tiền</th>
                    </tr>
                    <tr class="headerSort">
                        <td style="text-align:center;" colspan="3">50</td>
                        <td style="text-align:center;" colspan="1">50</td>
                        <td style="text-align:center;color:red;" colspan="1">5.000.000 VNĐ</td>
                    </tr>*@
                <tr class="headerSort">
                    <th style="text-align:left;padding-left:75px;font-weight:bold;" colspan="5">Tổng doanh thu: <span style="color:red;padding-left:330px;">@totalmoney.ToString().FormatMoney() VNĐ</span></th>
                </tr>
            </thead>

        </table>
    </div>

</div>

@section scripts{
    <script>
        jQuery(function ($) {

            var $overflow = '';
            var colorbox_params = {
                rel: 'colorbox',
                reposition: true,
                scalePhotos: true,
                scrolling: false,
                previous: '<i class="ace-icon fa fa-arrow-left"></i>',
                next: '<i class="ace-icon fa fa-arrow-right"></i>',
                close: '&times;',
                current: '{current} of {total}',
                maxWidth: '100%',
                maxHeight: '100%',
                onOpen: function () {
                    $overflow = document.body.style.overflow;
                    document.body.style.overflow = 'hidden';
                },
                onClosed: function () {
                    document.body.style.overflow = $overflow;
                },
                onComplete: function () {
                    $.colorbox.resize();
                }
            };

            $('.ace-thumbnails [data-rel="colorbox"]').colorbox(colorbox_params);
            $("#cboxLoadingGraphic").html("<i class='ace-icon fa fa-spinner orange fa-spin'></i>");//let's add a custom loading icon


            $(document).one('ajaxloadstart.page', function (e) {
                $('#colorbox, #cboxOverlay').remove();
            });



        });

        $(document).ready(function () {
            $('#ddlcardgroup').change(function () {
                var str = '';
                var cmd = $(this);
                cmd.parent().find('ul.multiselect-container li.active').each(function () {
                    var _cmd = $(this);
                    str += _cmd.find('input[type=checkbox]').val() + ',';
                });
                $('#cardgroup').val(str);
            });


            //Export excel
            $('button[name=btnExport]').click(function () {
                $('#chkExport').val('1');
                $('#frmReportIn').submit();
            });

            $('button[name=btnFilter]').click(function () {
                $('#chkExport').val('0'); // ko xuat xxcel
                $('#frmReportIn').submit();
            });

            $('#btnPrintFile').click(function () {
                var _frdate = $('input[name=fromdate]').val();
                var _todate = $('input[name=todate]').val();
                
                var url = '/Parking/Report/PrintReportTotalMoneyByCardGroupCAB2VCT?fromdate=' + _frdate + '&todate=' + _todate;
                window.open(url, '_blank');
            });

        });
    </script>
}


