@model Kztek.Model.Models.tblCustomerGroup
@using Kztek.Web.Core.Functions

@{
    ViewBag.Title = "Create";
    var IsTranserco = Convert.ToBoolean(ViewBag.ISTRANSERCO);
    var Dictionary = FunctionHelper.GetLocalizeDictionary("tblCustomerGroup", "Create");
    var DictionaryAction = FunctionHelper.GetLocalizeDictionary("Home", "Action");
}

<style>
    .fontawesome-select {
        font-family: 'FontAwesome', 'Helvetica';
    }
</style>

<div class="page-header">
    <h1>
        @Dictionary["Title"]
    </h1>
</div>
<div class="row">
    @if (TempData["Success"] != null)
    {
        <strong style="color:green">@TempData["Success"]</strong>
    }
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("Create", "tblCustomerGroup", FormMethod.Post, new { encType = "multipart/form-data", @class = "form-horizontal", @role = "form" }))
        {
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            @Html.Hidden("SaveAndCountinue", false)

            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right"> @Dictionary["CustomerGroupName"] </label>
                <div class="col-sm-4">
                    @Html.TextBoxFor(n => n.CustomerGroupName, new { @class = "form-control", @placeholder = Dictionary["CustomerGroupName"] })
                    @Html.ValidationMessageFor(n => n.CustomerGroupName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right"> @Dictionary["CustomerGroupParent"] </label>
                <div class="col-sm-4">
                    @Html.DropDownListFor(n => n.ParentID, new SelectList(ViewBag.DDLMenu, "CustomerGroupID", "CustomerGroupName"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(n => n.ParentID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right"> @Dictionary["Ordering"] </label>
                <div class="col-sm-4">
                    @Html.TextBoxFor(n => n.Ordering, new { @class = "form-control", @placeholder = Dictionary["Ordering"] })
                    @Html.ValidationMessageFor(n => n.Ordering, "", new { @class = "text-danger" })
                </div>
            </div>
            if (IsTranserco)
            {
                <div class="form-group">
                    <label class="col-sm-4 control-label no-padding-right"> Mã số thuế </label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(n => n.Tax, new { @class = "form-control", @placeholder = "Nhập mã số thuế" })

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label no-padding-right"> Địa chỉ </label>
                    <div class="col-sm-4">
                        @Html.TextAreaFor(n => n.Description, new { @class = "form-control", @placeholder = "" })

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label no-padding-right"> Công ty </label>
                    <div class="col-sm-4">
                        <label class="line-height-250">
                            @Html.CheckBoxFor(n => n.IsCompany, new { @class = "ace" })
                            <span class="lbl"></span>
                        </label>
                    </div>
                </div>
            }

            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right"> @Dictionary["IsLock"] </label>
                <div class="col-sm-4">
                    <label class="line-height-250">
                        @Html.CheckBoxFor(n => n.Inactive, new { @class = "ace" })
                        <span class="lbl"></span>
                    </label>
                </div>
            </div>

            <div class="ace-settings-container" id="ace-settings-container" style="position: fixed; top: 155px;">
                <div class="btn btn-app btn-xs btn-grey ace-settings-btn open" id="ace-settings-btn">
                    <i class="ace-icon fa fa-cog bigger-130"></i>
                </div>

                <div class="ace-settings-box clearfix open" id="ace-settings-box">
                    <!-- /.pull-left -->
                    <div class="bg-rightbox">
                        <div class="clearfix lineButton">
                            <div class="col-md-12 input-group">
                                <button class="btn btn-success" type="submit" id="Countinue">
                                    <i class="ace-icon fa fa-refresh bigger-110"></i>
                                    @DictionaryAction["Save"]
                                </button>
                                <button class="btn btn-info" type="submit" id="BackToList">
                                    <i class="ace-icon fa fa-check bigger-110"></i>
                                    @DictionaryAction["SaveAndExit"]
                                </button>
                                <button class="btn" type="reset">
                                    <i class="ace-icon fa fa-undo bigger-110"></i>
                                    @DictionaryAction["Refresh"]
                                </button>
                                <a href="@Url.Action("Index")" class="btn btn-yellow">
                                    <i class="ace-icon fa fa-chevron-circle-left bigger-110"></i>
                                    @DictionaryAction["BackToList"]
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- /.pull-left -->
                </div><!-- /.ace-settings-box -->
            </div>
        }
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#Countinue").click(function () {
                $("#SaveAndCountinue").val('true');
            })

            $("#BackToList").click(function () {
                $("#SaveAndCountinue").val('false');
            });
        });
    </script>
}